---
import Layout from "@/layouts/Layout.astro"

import Hero from "@/sections/Hero.astro"

import {Metadata} from "../consts/metadata";
import Ubicaciones from "../components/ubicaciones.astro";
import Contacto from "../components/contacto.astro";
import Servicios from "../components/Servicios.astro";

export const prerender = false
---

<Layout
	description={Metadata.home.description}
	title={Metadata.home.title}
	canonical={Metadata.home.canonical}
>
	<Hero />

	<main>
		<div class="grid gap-14">
		<Ubicaciones />
		<Servicios />
		<Contacto />
		</div>
	</main>
</Layout>
