---
import Typography from "@/components/Typography.astro"
---

<div class="flex flex-col gap-4 text-center md:flex-row lg:gap-6">
	<Typography as="span" variant="body" color="primary" class:list={"text-center"}>
		&copy; {new Date().getFullYear()} Veracines <span
			aria-hidden="true"
			class="hidden md:inline">|</span
		><br aria-hidden="true" class="block md:hidden" /> Todos los derechos reservados.
	</Typography>
	<Typography as="span" variant="body" color="primary" class:list={"text-center small"}>
		<a href="https://www.veracines.es/politica-privacidad" target="_blank" rel="noopener noreferrer" class="underline">Politica de Privacidad</a>
		<a href="https://www.veracines.es/aviso-legal" target="_blank" rel="noopener noreferrer" class="underline">Aviso Legal</a>
	</Typography>
</div>
