---
import Instagram from "./icons/instagram.astro"
import Facebook from "./icons/facebook.astro"
import Phone from "./icons/phone.astro";
---

<nav class:list={`${Astro.props.class}`}>

	<div class="flex flex-row items-center gap-x-2" aria-label="redes sociales">
		<div class="item">
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de Veracines, se abrir치 en una nueva pesta침a"
				href="https://www.instagram.com/veracines.sl"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<Facebook class="text-primary transition-colors duration-300 hover:text-primary motion-reduce:duration-0"/>
			</a>
		</div>
		<div class="item">
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de Veracines, se abrir치 en una nueva pesta침a"
				href="https://www.instagram.com/veracines.sl"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<Instagram class="text-primary transition-colors duration-300 hover:text-primary motion-reduce:duration-0"/>
			</a>
		</div>
	</div>
</nav>
