---
import UbicacionCard from "./UbicacionCard.astro";
---
const ubicaciones = [
{
    "nombre": "Cine Terraza de verano de Vera
    }

]

<section>
    <h2>Ubicaciones</h2>
    <UbicacionCard cine/>
</section>
