---
import UbicacionCard from "./UbicacionCard.astro";
import {CINES} from "../consts/cines";

const regio = CINES.find(cine => cine.url === 'regio');
const vera = CINES.find(cine => cine.url === 'vera');

---

<section>
    <h3 class="text-xl text-primary text-center font-bold">Puedes encontrarnos en:</h3>
    {
        <UbicacionCard cine={vera}/>
        <UbicacionCard cine={regio}/>

        <p class="text-center text-orange-700 font-extrabold text-lg bg-orange-100 border border-orange-400 rounded px-4 py-2 mt-4 shadow-md">
            ⚠️ Cine sala Tenis de Garrucha ya no se encuentra disponible.<br />
            <span class="block text-base font-semibold">Sentimos las molestias.</span>
        </p>
    }
</section>
