---
import UbicacionCard from "./UbicacionCard.astro";
import {CINES} from "../consts/cines";
---

<section>
    <h3 class="text-xl text-primary text-center font-bold">Puedes encontrarnos en:</h3>
    {
        CINES.map((cine) => (
            <UbicacionCard cine={cine}/>
        ))
    }
</section>
