<section class="flex flex-col items-center gap-3">
	<h1 class="text-3xl font-extrabold text-primary text-center mb-2 sr-only">
		Veracines: Cines de verano en Vera y Garrucha
	</h1>
	<img
		src="/img/veracines-logo.png"
		alt="Logo de Veracines, cines de verano en Vera y Garrucha"
		class="w-40 lg:w-56 mb-2"
		width="224"
		height="96"
		loading="eager"
		decoding="async"
	/>
	<p class="text-center text-lg text-primary max-w-2xl mb-3">
		Vive la magia del <strong>cine</strong> en Veracines, donde te ofrecemos los mejores <strong>estrenos</strong> y una cuidada selección de <strong>películas</strong> para todos los públicos. Disfruta de la experiencia única del <strong>cine de verano</strong> al <strong>aire libre</strong> en nuestras terrazas de Vera, con el mejor ambiente y todas las comodidades. Además, contamos con un completo <strong>servicio de bocatería</strong>, <strong>palomitas</strong> recién hechas y refrescos para que tu visita sea perfecta. Ven a Veracines y vive el cine como nunca, tanto en verano como durante todo el año en <strong>Cine Regio</strong>. ¡Te esperamos para compartir contigo la pasión por el cine!
	</p>
</section>